@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size:12px;
    font-family: "Jetbrains Mono";
}

window#waybar{
    all: unset;
    background-color: #32302F;
}

.modules-left {
    padding: 0px;
    margin: 5px 0px 0px 5px;
    border-radius: 2px;

    /* background: alpha(@background,.6); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
}
.modules-center {
    padding: 0px 3px 0px 8px;
    margin: 5px 0px 0px 0px;
    border-radius: 2px;
    /* background: alpha(@background,.6); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
}
.modules-right {
    padding: 0px 8px 0px 8px;
    margin: 5px 10px 0px 0px;
    border-radius: 2px;
    /* background: alpha(@background,.6); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
}

#clock{
    padding: 0px 5px;
    transition: all .3s ease;
	color: white;
}

#workspaces button {
    padding: 0 3px;
}

#workspaces button:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.focused {
    color: #89B482;
    font-weight: bold;
    transition: all 0.3s ease;
}

#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
	color: white;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 10px 0px 2px;
    /* color:alpha(@foreground,.2); */
	color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-endpoint{
    padding: 0px 8px;
	color: white;

}

#cpu,#memory,#temperature, #network, #bluetooth{
    padding: 0px 8px;
    transition: all .3s ease; 
	color: white;
}

